@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
#header{
    background-image: url('../images/background.jpg');
    height: 480px;
}
.ff-custome{
    font-family: 'Berkshire Swash', cursive;
}
.ff-manrope{
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: #191919;
}
/* #list{
    list-style: none;
} */